.alive {
    border-color: green;
    color: green;
    background-color: rgb(198 255 198);
}
.alivedot {
    border-color: green;
}
.dead {
    border-color: red;
    color: red;
    background-color: rgb(255 224 224);
}
.unknown {
    border-color: orange;
    color: orange;
    background-color: rgb(255 243 221);
}
/* .alive:hover {
    background-color: green;
    color: white;
}
.dead:hover {
    background-color: red;
    color: white;
}
.unknown:hover {
    background-color: orange;
    color: white;
} */
